# I. OOP

1. (6б). Створіть клас Animal, додайте три атрибути, один з яких має значення за замовчуванням та два методи на свій розсуд.

In [10]:
class Animal:
  def __init__(self, name, age, gender='male'):
    self.name = name
    self.age = age
    self.gender = gender

  def dog_sounds(self, sound):
    return f"{self.name} barks: {sound}"

  def cat_eats(self, food):
    return f"{self.name} eats {food}"

2. (2б). Створіть два обʼєкти цього класу, де один з обʼєктів створюється із дефолтним значенням атрибуту. На одному обʼєкті отримайте значення його атрибуту, а на іншому викличте один з його методів.

In [11]:
dog = Animal('Cosmo', 3)
cat = Animal('Milk', 2, 'female')

print(dog.gender)
print(cat.cat_eats('sausage'))

male
Milk eats sausage

3. (5б). Створіть клас, де атрибути мають різні рівні доступу. Спробуйте отримати їхні значення та опишіть результати.

In [12]:
class Person:
  def __init__(self, name, age, height):
    self.name = name
    self._age = age
    self.__height = height

new_person = Person('Mia', 34, 177)
print(new_person.name) #accessible
print(new_person._age) #technically accessible but considered secure
print(new_person.__height) #error because the attribute is private

Mia
34

AttributeError: 'Person' object has no attribute '__height'

4. (7б). Як ви розумієте термін self? Для чого використовується метод __init __?

self- це перший параметр метода __init __, який є конструктором. Python при створенні нового екземпляра класу автоматично буде передавати його в цей параметр, щоб сам метод __init __ міг ініціалізувати нові атрибути екземпляра.

5. (9б). Створіть клас Фігура без атрибутів, з методом get_area для отримання площі фігури, що повертає 0 та __add __, який приймає self та other в якості аргументів, а повертає суму площин фігур self та other.

In [13]:
class Figure:
  def get_area(self):
    return 0

  def __add__(self, other):
    return self.get_area() + other.get_area()

6. (11б). Створіть 2 дочірніх класи від Фігури: Трикутник та Коло, які мають атрибути, необхідні для розрахунку площин. Визначте метод get_area в кожному з них так, щоби вони розраховували площу в залежності від формули для кожного типу фігури. Створіть обʼєкт класу Трикутник та обʼєкт класу Коло. Виконайте операцію суми за допомогою оператора + між ними.

In [14]:
import math

class Triangle(Figure):
  def __init__(self, side, height):
    self.side = side
    self.height = height

  def get_area(self):
    return 0.5 * self.side * self.height

class Circle(Figure):
  def __init__(self, radius):
    self.radius = radius

  def get_area(self):
    return math.pi * self.radius ** 2


some_circle = Circle(3)
some_triangle = Triangle(8, 10)

sum = some_circle + some_triangle
print(sum)
print(some_circle.get_area())
print(some_triangle.get_area())

68.27433388230814
28.274333882308138
40.0

7. (3б). Продемонструйте різницю між isinstance та issubclass.

In [15]:
class Animal:
  pass

class Cat(Animal):
  pass

some_cat = Cat()
example1 = isinstance(some_cat, Animal)
example2 = isinstance(some_cat, Cat)
example3 = issubclass(Cat, Animal)
example1, example2, example3
#the difference between isinstance and issubclass
#is that using isinstance we check if some_cat is an instance of Animal class or a class that inherits from Animal
#but with issubclass we check the inheritance between the two classes (in my example, Cat is a subclass of Animal)

(True, True, True)

8. (13б). Створіть клас BankAccount з приватними атрибутами balance та account_number. Реалізуйте методи поповнення та зняття коштів, забезпечивши належну інкапсуляцію. Підказка: використовуйте декоратори property та setter.

In [16]:
class BankAccount:
  def __init__(self, balance, account_number):
    self.__balance = balance
    self.__account_number = account_number

  @property
  def balance(self):
    return self.__balance

  @balance.setter
  def balance(self, money_amount):
    if money_amount < 0:
      print('amount must be positive')
    else:
      self.__balance = money_amount

  def top_up(self, money_amount):
    if money_amount > 0:
      self.__balance += money_amount
      print(f'account {self.__account_number}: topped-up {money_amount} \nnew balance: {self.__balance}')
    else:
      print('top-up amount must be positive')

  def withdraw(self, money_amount):
    if 0 < money_amount and money_amount <= self.__balance:
      self.__balance -= money_amount
      print(f'account {self.__account_number}: withdrawn {money_amount} \nnew balance: {self.__balance}')
    else:
      print('withdrawal amount must be positive and not exceed the balance')


some_account = BankAccount(250, '538901253')
some_account.top_up(300)
some_account.withdraw(50)
some_account.top_up(-1)
some_account.withdraw(1000)

final_balance = some_account.balance
print(f'final balance: {final_balance}')

account 538901253: topped-up 300
new balance: 550
account 538901253: withdrawn 50
new balance: 500
top-up amount must be positive
withdrawal amount must be positive and not exceed the balance
final balance: 500

9. (11б). Створіть клас Library, який містить список об'єктів типу Book. Реалізуйте методи для додавання книги, видалення книги та відображення списку книг.

In [17]:
class Book:
  def __init__(self, author, title):
    self.author = author
    self.title = title

  def __str__(self):
    return f'book: {self.title}, {self.author}'

class Library:
  def __init__(self):
    self.books = []

  def adding_book(self, new_book):
    self.books.append(new_book)
    print(f'book "{new_book.title}" was added to the library')

  def deleting_book(self, exist_book):
    try:
      self.books.remove(exist_book)
      print(f'book "{exist_book.title}" was deleted')
    except ValueError:
      print(f'book "{exist_book.title}" is not in the library')

  def displaying(self):
    if self.books:
      print('\nlibrary: ')
      for book in self.books:
        print(book)
    else:
      print('the library is empty')


book = Book('Steven King', 'Misery')
book1 = Book('J. Tolkien', 'Lord Of The Ring')
book2 = Book('Bret Easton Ellis', 'American Psycho')
book3 = Book('J. K. Rowling', "Harry Potter and the Philosopher's Stone")

library = Library()
library.adding_book(book)
library.adding_book(book1)
library.adding_book(book2)
library.deleting_book(book1)
library.deleting_book(book3)
library.displaying()

book "Misery" was added to the library
book "Lord Of The Ring" was added to the library
book "American Psycho" was added to the library
book "Lord Of The Ring" was deleted
book "Harry Potter and the Philosopher's Stone" is not in the library

library:
book: Misery, Steven King
book: American Psycho, Bret Easton Ellis

10. (13б). Створіть клас Person з атрибутами name та age. Створіть ще один клас Employee з такими атрибутами, як department та salary. Створіть клас Manager, який успадковує обидва класи Person та Employee. Продемонструйте використання множинної спадковості, створивши обʼєкт класу Manager та отримавши mro для цього класу.

In [18]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

class Employee:
  def __init__(self, department, salary):
    self.department = department
    self.salary = salary

class Manager(Person, Employee):
   def __init__(self, name, age, department, salary):
        Person.__init__(self, name, age)
        Employee.__init__(self, department, salary)

   def __str__(self):
        return f'manager {self.name}, age: {self.age}, department: {self.department}, salary: {self.salary}'


some_manager = Manager('Lisa', 35, 'accountant', '45000')
some_manager_mro = Manager.mro()
print(some_manager)
print(some_manager_mro)

manager Lisa, age: 35, department: accountant, salary: 45000
[<class '__main__.Manager'>, <class '__main__.Person'>, <class '__main__.Employee'>, <class 'object'>]

# II. Iterator

11. (4б). Визначте рядок(str) з 4ма різними за значенням символами. Створіть ітератор на основі цього рядка. Викличте 5 разів функцію next на ітераторі, 4ри перших з них огорніть у ф-цію print().

In [19]:
some_string = 'by3f'
iterator_example = iter(some_string)
some_calls = [next(iterator_example) for _ in range(4)]

try: #without using try-except it will still give StopIteration
  last_call = next(iterator_example)
except StopIteration as e:
  last_call = 'StopIteration raised'

print(some_calls)
last_call

['b', 'y', '3', 'f']

'StopIteration raised'

А що якщо викликати цю ж функцію на рядку?

In [20]:
some_string = 'by3f'
next(some_string)
#string is not an iterator, but iterables
#we can use them in "for" loops, but not in __next__ method

TypeError: 'str' object is not an iterator

 12. (5б). Опишіть своїми словами в одному реченні, як ви розумієте різницю між ітерабельними обʼєктами та ітераторами (можна на прикладі).

Ітерабельний об'єкт можна уявити як контейнер з елементами, до яких отримуєш доступ по черзі, а ітератор - інструмент, що дозволяє отримувати доступ до цих елементів, виймати їх

13. (11б). Створіть клас, що має визначений Iterator Protocol та при кожному виклику next повертає літери англійської абетки, поки вони не вичерпаються.

In [21]:
class Alphabet:
    def __init__(self):
        self.letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
        self.index = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.index < len(self.letters):
            letter = self.letters[self.index]
            self.index += 1
            return letter
        else:
            raise StopIteration

iterator = Alphabet()
first_letters = [next(iterator) for _ in range(5)]
next_letters = [next(iterator) for _ in range(10)]
# decomment to call StopIteration
# end = [next(iterator) for _ in range(15)]
print(first_letters)
print(next_letters)
# print(end)

['A', 'B', 'C', 'D', 'E']
['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.